<div class="jumbotron">
    <div class="container">
        <!-- Search -->
        <div class="row">
            <div class="col-md-12">
                <h2>Search results for <%= query %></h2>
                <%- form %>
            </div> 
        </div>
    </div>
</div>

<div class="container">

    <!-- Valid query -->
    <% if (query) { %>

        <!-- Tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#librarysearch" data-toggle="tab">Librarysearch <% if (!data.results.aquabrowser.error) { %><small>(<%= data.results.aquabrowser.rowCount %> items)</small><% } %></a></li>
            <li><a href="#librarysearchplus" data-toggle="tab">Librarysearch+ <% if (!data.results.summon.error) { %><small>(<%= data.results.summon.rowCount %> items)</small><% } %></a></li>
        </ul>

        <!-- Panels -->
        <div class="tab-content">

            <!-- Librarysearch / Aquabrowser -->
            <div class="tab-pane active" id="librarysearch">
                <div class="row">

                    <!-- Error -->
                    <% if (data.results.aquabrowser.error) { %>
                        <div class="col-md-12 col-error">
                            <div class="alert alert-danger"><%= data.results.aquabrowser.error %></div>
                        </div>
                    <% } %>

                    <!-- If results -->
                    <% if (data.results.aquabrowser.items) { %>
                        <% if (data.results.aquabrowser.items.length) { %>

                            <!-- Filter -->
                            <div class="col-md-3">
                                <div class="row filters">
                                    <div class="col-md-12">

                                    <!-- Facets -->
                                    <ul class="list-group filter-list">
                                        <li class="list-group-item active">Filter by:</li>
                                        <% if (data.results.aquabrowser.facets.length) { %>
                                            <% for(var i=0; i<data.results.aquabrowser.facets.length; i++) {%>
                                                <% if (i == 5) { %>
                                                <span class="filter-toggle">
                                                <% } %>
                                                <li class="list-group-item"><span class="badge"><%= data.results.aquabrowser.facets[i].count %></span><a href="#"><%= data.results.aquabrowser.facets[i].value %></a></li>
                                            <% } %>
                                            </span>
                                            <% if (data.results.aquabrowser.facets.length > 5) { %>
                                                <li class="list-group-item"><a href="#" class="show-more" title="show more"><span class="glyphicon glyphicon-plus"></span> show more...</a></li>
                                            <% } %>
                                        <% } else {%>
                                            <li class="list-group-item">No filters apply</li>
                                        <% } %>
                                    </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Results -->
                            <div class="col-md-9">

                                <!-- Sort -->
                                <div class="row result-sort">
                                    <div class="col-md-6">
                                        <p>Displaying <%= data.results.aquabrowser.items.length %> of <%= data.results.aquabrowser.rowCount %><p/>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="btn-group pull-right">
                                          <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                              Relevancy
                                              <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                              <li><a>Relevancy</a></li>
                                            </ul>
                                          </div>
                                        </div>
                                    </div>
                                </div>

                                <ul>
                                <% for(var i=0; i<data.results.aquabrowser.items.length; i++) {%>
                                    <li class="item">
                                        <h5 class="item-title"><a target="_blank" href="<%= data.results.aquabrowser.items[i].link %>" title="<%= data.results.aquabrowser.items[i].title %>"><%= data.results.aquabrowser.items[i].title %></a></h5>
                                        <span class="row">
                                            <span class="col-md-2">
                                                <span class="thumbnail">
                                                <% if (data.results.aquabrowser.items[i].thumbnail) { %>
                                                    <img src="<%= data.results.aquabrowser.items[i].thumbnail %>" alt="<%= data.results.aquabrowser.items[i].title %>">
                                                <% } else { %>
                                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                                <% } %>
                                                </span>
                                            </span>
                                            <span class="col-md-10">
                                                <p>Type: <a href="#"><%= data.results.aquabrowser.items[i].contentType %></a></p>
                                                <p>Author: <a href="#"><%= data.results.aquabrowser.items[i].author %></a></p>
                                                <p>Date: <a href="#"><%= data.results.aquabrowser.items[i].date %></a></p>
                                            </span>
                                        </span>
                                        <hr/>
                                    </li>
                                <% } %>
                                </ul>

                            </div>
                        <% } else { %>
                            <div class="col-md-12 col-error">
                                <div class="alert alert-info">No results</div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>

            <!-- Librarysearch+ / Summon -->
            <div class="tab-pane" id="librarysearchplus">
                <div class="row">

                    <!-- Error -->
                    <% if (data.results.summon.error) { %>
                        <div class="col-md-12 col-error">
                            <div class="alert alert-danger"><%= data.results.summon.error %></div>
                        </div>
                    <% } %>

                    <!-- If results -->
                    <% if (data.results.summon.items) { %>
                        <% if (data.results.summon.items.length) { %>

                        <!-- Filter -->
                        <div class="col-md-3">
                            <div class="row filters">
                                <div class="col-md-12">
                                    <!-- Facets -->
                                    <% if (data.results.summon.facets.length) { %>
                                    <ul class="list-group filter-list">
                                        <li class="list-group-item active">Filter by:</li>
                                        <% for(var i=0; i<data.results.summon.facets.length; i++) {%>
                                            <% if (i == 5) { %>
                                            <span class="filter-toggle">
                                            <% } %>
                                            <li class="list-group-item"><span class="badge"><%= data.results.summon.facets[i].count %></span><a href="#"><%= data.results.summon.facets[i].value %></a></li>
                                        <% } %>
                                        </span>
                                        <% if (data.results.summon.facets.length > 5) { %>
                                            <li class="list-group-item"><a href="#" class="show-more" title="show more"><span class="glyphicon glyphicon-plus"></span> show more...</a></li>
                                        <% } %>
                                    </ul>
                                    <% } %>
                                </div>
                            </div>
                        </div>

                        <!-- Results -->
                        <div class="col-md-9">

                            <!-- Sort -->
                            <div class="row result-sort">
                                <div class="col-md-6">
                                    <p>Displaying <%= data.results.summon.items.length %> of <%= data.results.summon.rowCount %><p/>
                                </div>
                                <div class="col-md-6">
                                    <div class="btn-group pull-right">
                                      <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                          Relevancy
                                          <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                          <li><a>Relevancy</a></li>
                                        </ul>
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Results -->
                            <ul>
                            <% for(var i=0; i<data.results.summon.items.length; i++) {%>
                                <li class="item">
                                    <h5 class="item-title"><a target="_blank" href="<%= data.results.summon.items[i].link %>" title="<%= data.results.summon.items[i].title %>"><%= data.results.summon.items[i].title %></a></h5>
                                    <span class="row">
                                        <span class="col-md-2">
                                            <span class="thumbnail">
                                             <% if (data.results.summon.items[i].thumbnail) { %>
                                                <img src="<%= data.results.summon.items[i].thumbnail %>" alt="<%= data.results.summon.items[i].title %>">
                                            <% } else { %>
                                                <span class="glyphicon glyphicon-remove-circle"></span>
                                            <% } %>
                                            </span>
                                        </span>
                                        <span class="col-md-10">
                                            <p>Type: <a href="#"><%= data.results.summon.items[i].contentType %></a></p>
                                            <p>Author: <a href="#"><%= data.results.summon.items[i].author %></a></p>
                                            <p>Date: <a href="#"><%= data.results.summon.items[i].date %></a></p>
                                        </span>
                                    </span>
                                    <hr/>
                                </li>
                            <% } %>
                            </ul>
                        </div>
                        <% } else { %>
                            <div class="col-md-12 col-error">
                                <div class="alert alert-info">No results</div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>

    <!-- Invalid query-->
    <% } else { %>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">Invalid query</div>
            </div>
        </div
    <% } %>
</div>
