<div class="jumbotron">
    <div class="container">
        <!-- Form -->
        <%- form %>
    </div>
</div>

<!--
<div class="container">
    <ul class="nav nav-tabs">
        <li><a href="#books" data-toggle="tab">Books</a></li>
        <li><a href="#ebooks" data-toggle="tab">Ebooks</a></li>
        <li><a href="#journals" data-toggle="tab">Journals</a></li>
        <li><a href="#manuscripts" data-toggle="tab">Manuscripts</a></li>
        <li><a href="#papers" data-toggle="tab">Papers</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="books">...</div>
        <div class="tab-pane" id="ebooks">...</div>
        <div class="tab-pane" id="journals">...</div>
        <div class="tab-pane" id="manuscripts">...</div>
        <div class="tab-pane" id="papers">...</div>
    </div>    
</div>
<br/>
-->

<div class="container">
    <% if (query) { %>
    <div class="row">
        <div class="col-md-12">
            <h5>Results for <%= query %></h5>
        </div>

        <!-- Aquabrowser-->
        <div class="col-md-6">
            <h4>Aquabrowser <% if (!data.results.aquabrowser.error) { %><small>(<%= data.results.aquabrowser.rowCount %> items)</small><% } %></h4>

            <% if (data.results.aquabrowser.error) { %>
                <div class="alert alert-danger"><%= data.results.aquabrowser.error %></div>
            <% } %>

            <% if (data.results.aquabrowser.items) { %>
                <% if (data.results.aquabrowser.items.length) { %>
                <ul>
                <% for(var i=0; i<data.results.aquabrowser.items.length; i++) {%>
                    <li>
                        <h5><a target="_blank" href="<%= data.results.aquabrowser.items[i].link %>" title="<%= data.results.aquabrowser.items[i].title %>"><%= data.results.aquabrowser.items[i].title %></a></h5>
                        <span class="row">
                            <span class="col-md-3">
                                <% if (data.results.aquabrowser.items[i].thumbnail) { %>
                                <a href="#" class="thumbnail">
                                  <img src="<%= data.results.aquabrowser.items[i].thumbnail %>" alt="<%= data.results.aquabrowser.items[i].title %>">
                                </a>
                                <% } %>
                            </span>
                            <span class="col-md-9">[<%= data.results.aquabrowser.items[i].contentType %>]</span>
                        </span>
                        <hr/>
                    </li>
                <% } %>
                </ul>
                <% } else { %>
                    <div class="alert alert-info">No results</div>
                <% } %>
            <% } %>
        </div>

        <!-- Summon -->
        <div class="col-md-6">
            <h4>Summon <% if (!data.results.summon.error) { %><small>(<%= data.results.summon.rowCount %> items)</small><% } %></h4>

            <% if (data.results.summon.error) { %>
                <div class="alert alert-danger"><%= data.results.summon.error %></div>
            <% } %>

            <% if (data.results.summon.items) { %>
                <% if (data.results.summon.items.length) { %>
                <ul>
                <% for(var i=0; i<data.results.summon.items.length; i++) {%>
                    <li>
                        <h5><a target="_blank" href="<%= data.results.summon.items[i].link %>" title="<%= data.results.summon.items[i].title %>"><%= data.results.summon.items[i].title %></a></h5>
                        <span class="row">
                            <span class="col-md-3">
                                <% if (data.results.summon.items[i].thumbnail) { %>
                                <a href="#" class="thumbnail">
                                  <img src="<%= data.results.summon.items[i].thumbnail %>" alt="<%= data.results.summon.items[i].title %>">
                                </a>
                                <% } %>
                            </span>
                            <span class="col-md-9">[<%= data.results.summon.items[i].contentType %>]</span>
                        </span>
                        <hr/>
                    </li>
                <% } %>
                </ul>
                <% } else { %>
                    <div class="alert alert-info">No results</div>
                <% } %>
            <% } %>
        </div>
    </div>

    <% } else { %>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">Invalid query</div>
        </div>
    </div
    <% } %>
</div>

<div class="container">
    <div class="col-md-1"><br/><br/></div>
</div>
